body{
  background-color: grey;
}

h1{
  text-align: center;
  color: yellow-green;
  text-decoration: underline;
}
h2{
  color: blue;
  text-decoration: underline;
}
.column{
  width: 600px;
    float:left;
    padding-left:45px;
    padding-top: 0px;
    margin: 0.1px;
    font-size: 18px;
}

.list{
  width: 30%;
    margin: 7px;
}
.container{
  background: pink;
width: 60%;
padding: 5px;
margin:20px auto;
}

.background h3{
  color: green;
  text-decoration: underline;
}
.background{
  font-family: serif;
  font-style: italic;
}
