h1{
  text-align: center;
  color: yellow-green;
  text-decoration: underline;
}
h2{
  color: blue;
  text-decoration: underline;
}
.column{
  width: 300px;
  float: left;
  padding: 10px;
  margin: 5px;
  border: 1px green solid;
  background: blue;
}
.list{
  margin: 0px;
  text-align: left;
}
.container{
  widith:500px;
}
